/* Calendar css, Nathan you can replace this if you like... */

.appHeader {
  border-bottom: 2px solid black;
  text-transform: uppercase;
}

.fc-header-toolbar {
  text-transform: uppercase;
}

.fc-right {
  margin-right: 12px;
}

.fc-day:hover {
  background-color: #b5b5b5;
}

#atag {
  font-size: 30px;
}
